
.cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.MuiCard-root {
    border-radius: 12px !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2) !important;
    background: linear-gradient(to bottom, #ffffff, #f3f3f3);
    text-align: center;
    padding: 15px;
}

.MuiTypography-h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px !important;
    font-weight: bold !important;
    color: #333 !important;
}

.MuiSvgIcon-root {
    font-size: 28px !important;
    margin-left: 8px;
}

.weather-details {
    margin-top: 15px;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto; 
    text-align: left;
    font-weight: bold;
}

.weather-details span {
    color: #000;
}

.weather-details p {
    margin: 5px 0;
}
